.options{
    display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no caben */
  gap: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
}

